<settings>
  <category label="Catoal">
       <setting id="Updatecommonresolvers" label="Update Commonresolver from Genesis" type="bool" default="true" visible="false"/>
    	<setting type="lsep" label="Versión del Addon Actualizado 25/11/2015" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
        <setting type="lsep" label="Facebook: www.facebook.com/catoal.kodi" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
        <setting type="lsep" label="Twitter: Catoal.Kodi" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
		<setting type="lsep" label="Email: catoal.kodi@gmail.com" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
		<setting type="lsep" label="Blog: www.catoalkodi.blogspot.com" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
		<setting id="ask_playlist_items" type="bool" label="Elegir Fuente de Video" default="true" visible="false"/>/>
        <setting id="add_playlist" type="bool" label="Activar Multilink" default="true" visible="false"/>/>
        <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid with:" default="Genesis" visible="false"/>/>
        <setting id="donotshowbychannels" label="Ocultar Canales" type="bool" default="false" visible="false"/>
 </category>
</settings>
