<settings>
    <category label="11000">
        <setting id="username" type="text" label="11001" default=""/>
        <setting id="password" type="text" option="hidden" label="11002" default=""/>
        <setting label="11100" type="lsep"/>
        <setting id="browser" type="select" label="11101" lvalues="99999|111011|111012|111013|111014|111015|111016|111017" />
        <setting id="update_db" type="bool" label="11102" default="true"/>
        <setting label="11200" type="lsep"/>
        <setting id="single_profile" type="bool" label="11201" default="false"/>
        <setting id="show_profiles" type="bool" label="11202" enable="eq(-1,false)" default="true"/>
    </category>
    <category label="12000">
        <setting id="debug" type="bool" label="12001" default="false"/>
        <setting id="library_path" type="folder" label="12002"
                 default="special://profile/addon_data/plugin.video.flix2kodi/library"/>
        <setting id="disable_lirc" type="bool" label="12101" default="false"/>
        <setting id="alternate_remote" type="bool" label="12102" default="false"/>
        <setting id="superbrowse" type="bool" label="30112" default="false"/>

    </category>
    <category label="13000">
        <setting id="use_tmdb" type="bool" label="13001" default="false"/>
        <setting id="browse_tv_shows" type="bool" label="13002" default="true"/>
        <setting id="items_per_page" type="number" label="13003" default="100"/>
        <setting id="sync_viewstate" type="bool" label="13004" default="true"/>
        <setting label="13100" type="lsep"/>
        <setting id="force_view" type="bool" label="13101" default="true"/>
        <setting id="view_id_videos" type="number" label="13102" enable="eq(-1,true)" default="504"/>
        <setting id="view_id_episodes" type="number" label="13103" enable="eq(-2,true)" default="503"/>
        <setting id="view_id_activity" type="number" label="13104" enable="eq(-3,true)" default="504"/>
    </category>
    <category label="14000">
        <setting label="14001" type="action" action="RunPlugin(plugin://plugin.video.flix2kodi/?mode=delete_cache)"/>
        <setting label="14002" type="action" action="RunPlugin(plugin://plugin.video.flix2kodi/?mode=delete_cookies)"/>
        <setting label="14003" type="action" action="RunPlugin(plugin://plugin.video.flix2kodi/?mode=reset_addon)"/>
    </category>
</settings>
